<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- sample config item-->
		<add key="XXXX" value="10000" />
	</appSettings>

<system.diagnostics>
 <switches>
	 <!-- Data is logged to a file logfile.txt in the program directory if enabled-->
	 <!-- 0 is no logging, 1 errors only, 2 warnings, 3 info and 4 verbose -->
	 <add name="General" value="4" />
 </switches>
 </system.diagnostics>
</configuration>
